* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./Roboto-Medium.ttf) format("ttf");
}
.container {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 1280px;
}
@media screen and (min-width: 480px) {
  .container {
    padding: 0 16px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0 56px;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}

.button {
  padding: 0;
  border: none;
  background-color: #69B42E;
  color: #FFFFFF;
  transition: 0.3s linear;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;
}
.button:hover {
  background-color: #80BF4D;
  transition: 0.3s linear;
}
.button_alert {
  background-color: #EF5641;
  color: #000000;
}
.button_alert:hover {
  background-color: #ee270c;
  transition: 0.3s linear;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.popup_opened {
  display: flex;
}
.popup__container {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.popup__text {
  font-size: 18px;
  line-height: 20px;
}
.popup__image {
  width: 30px;
  height: 30px;
}

.body {
  background-color: #69B42E;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.main {
  max-width: 400px;
  width: 100%;
}

.reg {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 20px;
}
.reg__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reg__title {
  font-size: 24px;
  line-height: 30px;
}
.reg__subtitle {
  font-size: 18px;
  line-height: 20px;
  padding-top: 10px;
}
.reg__cross {
  width: 18px;
  height: 18px;
}
.reg__inputs {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reg__send {
  padding-top: 20px;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: all 0.5s ease-in-out;
}
.reg__visible {
  display: flex;
  transition: all 0.3s ease-in-out;
}
.reg__clown {
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}
.reg__label {
  font-size: 16px;
  line-height: 18px;
}
.reg__input {
  padding: 5px;
}
.reg__text {
  font-size: 16px;
  line-height: 18px;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */